.sass-cache
*~
feed.xml
/.DS_Store
/.Rhistory
/.projectile
*.old
/*.md_
/lessons/.Rhistory
/lessons/slides/.DS_Store
/.RData
*/.DS_Store
*.Rsession
*.lock
/_data/.Rhistory
_site/
_site/**/*.html
_site/*.html

